#floatingCirclesG {
  position: relative;
  width: 128px;
  height: 128px;
  margin: auto;
  margin-top: 50px;
  transform: scale(0.6);
  -o-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
}

.f_circleG {
  position: absolute;
  background-color: rgb(208, 228, 245);
  height: 23px;
  width: 23px;
  border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  animation-name: f_fadeG;
  -o-animation-name: f_fadeG;
  -ms-animation-name: f_fadeG;
  -webkit-animation-name: f_fadeG;
  -moz-animation-name: f_fadeG;
  animation-duration: 0.732s;
  -o-animation-duration: 0.732s;
  -ms-animation-duration: 0.732s;
  -webkit-animation-duration: 0.732s;
  -moz-animation-duration: 0.732s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
}

#frotateG_01 {
  left: 0;
  top: 52px;
  animation-delay: 0.2695s;
  -o-animation-delay: 0.2695s;
  -ms-animation-delay: 0.2695s;
  -webkit-animation-delay: 0.2695s;
  -moz-animation-delay: 0.2695s;
}

#frotateG_02 {
  left: 15px;
  top: 15px;
  animation-delay: 0.366s;
  -o-animation-delay: 0.366s;
  -ms-animation-delay: 0.366s;
  -webkit-animation-delay: 0.366s;
  -moz-animation-delay: 0.366s;
}

#frotateG_03 {
  left: 52px;
  top: 0;
  animation-delay: 0.4525s;
  -o-animation-delay: 0.4525s;
  -ms-animation-delay: 0.4525s;
  -webkit-animation-delay: 0.4525s;
  -moz-animation-delay: 0.4525s;
}

#frotateG_04 {
  right: 15px;
  top: 15px;
  animation-delay: 0.549s;
  -o-animation-delay: 0.549s;
  -ms-animation-delay: 0.549s;
  -webkit-animation-delay: 0.549s;
  -moz-animation-delay: 0.549s;
}

#frotateG_05 {
  right: 0;
  top: 52px;
  animation-delay: 0.6355s;
  -o-animation-delay: 0.6355s;
  -ms-animation-delay: 0.6355s;
  -webkit-animation-delay: 0.6355s;
  -moz-animation-delay: 0.6355s;
}

#frotateG_06 {
  right: 15px;
  bottom: 15px;
  animation-delay: 0.732s;
  -o-animation-delay: 0.732s;
  -ms-animation-delay: 0.732s;
  -webkit-animation-delay: 0.732s;
  -moz-animation-delay: 0.732s;
}

#frotateG_07 {
  left: 52px;
  bottom: 0;
  animation-delay: 0.8185s;
  -o-animation-delay: 0.8185s;
  -ms-animation-delay: 0.8185s;
  -webkit-animation-delay: 0.8185s;
  -moz-animation-delay: 0.8185s;
}

#frotateG_08 {
  left: 15px;
  bottom: 15px;
  animation-delay: 0.905s;
  -o-animation-delay: 0.905s;
  -ms-animation-delay: 0.905s;
  -webkit-animation-delay: 0.905s;
  -moz-animation-delay: 0.905s;
}

@keyframes f_fadeG {
  0% {
    background-color: rgb(28, 110, 164);
  }

  100% {
    background-color: rgb(255, 255, 255);
  }
}


@-o-keyframes f_fadeG {
  0% {
    background-color: rgb(28, 110, 164);
  }

  100% {
    background-color: rgb(255, 255, 255);
  }
}


@-ms-keyframes f_fadeG {
  0% {
    background-color: rgb(28, 110, 164);
  }

  100% {
    background-color: rgb(255, 255, 255);
  }
}


@-webkit-keyframes f_fadeG {
  0% {
    background-color: rgb(28, 110, 164);
  }

  100% {
    background-color: rgb(255, 255, 255);
  }
}


@-moz-keyframes f_fadeG {
  0% {
    background-color: rgb(28, 110, 164);
  }

  100% {
    background-color: rgb(255, 255, 255);
  }
}