#app {
    font-family: 'Ubuntu', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #502c2c;
    margin-top: 60px;
    img {
        height: 20%;
        width: 20%
    }
}