.summary-table {
    display: table;
    
    .row {
        display: table-row;
    }

    .row .value {
        display: table-cell;
    }

    .value {
        font-weight: bold;
        color: red;
    }

    .tax-rate-input {
        display: inline-block;
        width: 60px;
        font-size: 25px;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        margin: -10, 0, 0;
        padding: 10px 5px;
        outline: none;
        border: 1px solid rgba(183,183,183,0);
        border-bottom: 2px solid;
        color: rgba(0,142,198,1);
        text-align: center;
        text-indent: 0;
        -o-text-overflow: clip;
        text-overflow: clip;
        white-space: normal;
    }
}