<template>
  <div class="operation-table">
    <v-client-table
      :data="accountStatements.getData()"
      :columns="accountStatements.getHeader()"
      :options="options"
    />
  </div>
</template>

<script lang="ts">
import Vue from "vue";

Vue.use(ClientTable, {}, false, "bootstrap3", "default");

import { ServerTable, ClientTable, Event } from "vue-tables-2";
import "bootstrap3/dist/css/bootstrap.css";
import { AccountStatement } from "../models/AccountStatement";

export default Vue.extend({
  props: {
    accountStatements: {
      type: AccountStatement
    }
  },
  data() {
    return {
      options: {
        skin: "table",
        filterable: false,
        perPage: 100,
        perPageValues: [25, 50, 100, 500, 1000],
        headings: {
          id: "Nr",
          transaction_id: "Id operacji",
          operation_date: "Data operacji",
          details: "Szczegóły",
          mintos_turnovers: "Oborty Mintos",
          user_turnovers: "Obroty waluty użytkownika",
          user_currency_date: "Data waluty",
          exchange_rate: "Przelicznik"
        }
      }
    };
  },
  methods: {}
});
</script>

<style lang="scss" scoped></style>
