<template>
  <div class="summary-table">
    <div class="row">
      <div class="name">Liczba operacji odsetkowych:</div>
      <div class="value">{{ accountStatements.getInterestOperationNumber() }}</div>
    </div>
    <div class="row">
      <div class="name">Odsetki otrzymane w: {{ accountStatements.getCurrency() }}</div>
      <div class="value">
        {{ accountStatements.getMintosInterestSum() }}
        {{ accountStatements.getCurrency() }}
      </div>
    </div>
    <div class="row">
      <div class="name">Odsetki do opodatkowania w PLN:</div>
      <div class="value">{{ accountStatements.getUserInterestSum().toFixed(4) }} PLN</div>
    </div>
    <div class="row">
      <div class="name">Stopa podatkowa:</div>
      <div class="value">
        <input class="tax-rate-input" v-model="taxRate" type="number" min="0" max="100" />%
      </div>
    </div>
    <div class="row">
      <div class="name">Podatek do zapłaty:</div>
      <div class="value">
        {{
        (
        (accountStatements.getUserInterestSum() * this.taxRate) /
        100
        ).toFixed(4)
        }}
      </div>
    </div>
    <div class="row">
      <div class="name">Koszty (np przewalutowania):</div>
      <div class="value">{{ accountStatements.getUserExchangeFee().toFixed(4) }} PLN</div>
    </div>
    <div class="row">
      <div class="name">Zysk/strata z operacji na rynku wtórnym:</div>
      <div class="value">{{ accountStatements.getSecondaryMarketDiscount().toFixed(4) }} PLN</div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { AccountStatement } from "../models/AccountStatement";
export default Vue.extend({
  props: {
    accountStatements: {
      type: AccountStatement
    }
  },
  data() {
    return {
      taxRate: 19
    };
  }
});
</script>

<style lang="scss" scoped>
@import "@/styles/summary-table.scss";
</style>
