<template>
  <div>
    Tax Calculator
    <br />
    <input type="file" @change="onFileChange" />
    <div v-if="show_loader">
      <div id="floatingCirclesG">
        <div class="f_circleG" id="frotateG_01"></div>
        <div class="f_circleG" id="frotateG_02"></div>
        <div class="f_circleG" id="frotateG_03"></div>
        <div class="f_circleG" id="frotateG_04"></div>
        <div class="f_circleG" id="frotateG_05"></div>
        <div class="f_circleG" id="frotateG_06"></div>
        <div class="f_circleG" id="frotateG_07"></div>
        <div class="f_circleG" id="frotateG_08"></div>
      </div>
      <div>{{ stage }}</div>
    </div>
    <br />
    <div v-if="show_table">
      <summary-table :accountStatements="accountStatements" />

      <operation-table :accountStatements="accountStatements" />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import SummaryTable from "./SummaryTable.vue";
import OperationTable from "./OperationTable.vue";
// Można rozwiązać błąd z importem plików JS do ts poprzez dodanie dekoratora @ts-ignore
// lub zaimportowanie pliku d.ts z wpisanym modułem
import "../alltypes.d.";
import { MintosOperation } from "../models/MintosOperation";
import { NbpApi } from "../models/nbp/NbpApi";
import { NbpDataModel } from "../models/nbp/NbpDataModel";
import { AccountStatement } from "../models/AccountStatement";
import { VueConstructor } from "vue";
import * as moment from "moment";
import XLSX, { WorkBook } from "xlsx";
import { CurrencyRate } from "../models/nbp/CurrencyRate";
import { getJsDateFromExcel } from "excel-date-to-js"

export default Vue.extend({
  components: {
    SummaryTable,
    OperationTable
  },
  data() {
    return {
      operations: [] as Array<MintosOperation>,
      accountStatements: new AccountStatement(),
      nbpData: new NbpDataModel(),
      currencyPromise: (null as unknown) as Promise<any>,
      show_table: false,
      show_loader: false,
      stage: "",
      languageDict: {
        "ENG": ["Transaction ID:", "Date", "Details", "Turnover", "Balance", "Currency"],
        "PL": ["ID transakcji:", "Data", "Szczegóły", "Obrót", "Saldo", "Waluta"]
      }
    };
  },
  methods: {
    // wczytuje plik użytkownika
    onFileChange(event: any) {
      let start = performance.now();

      this.stage = "Wczytuje dane z pliku";
      this.show_loader = true;

      if (event.target.files && event.target.files[0]) {
        const vm = this;
        let workbook: any;
        let reader = new FileReader();

        let f = event.target.files[0];
        let name = f.name;

        reader.onload = async function(e) {
          workbook = XLSX.read(reader.result, { type: "binary" });
        };

        reader.readAsBinaryString(f);
        reader.onloadend = () => vm.convertWorkbookToModel(workbook);
      }
    },

    // konwertuje otrzymany workbook na właściwy model
    async convertWorkbookToModel(workbook: WorkBook) {
      let sheetName = workbook.SheetNames[0];
      let data = XLSX.utils.sheet_to_json(workbook.Sheets[sheetName]);

      let lang = this.getXslxLanguage(data);

      data.forEach(row => {
        let operation = new MintosOperation(
          (row as any)[this.languageDict[lang.toString()][0]],
          new Date((row as any)[this.languageDict[lang.toString()][1]]),
          (row as any)[this.languageDict[lang.toString()][2]],
          (row as any)[this.languageDict[lang.toString()][3]],
          (row as any)[this.languageDict[lang.toString()][4]],
          (row as any)[this.languageDict[lang.toString()][5]]
        );

        this.operations.push(operation);

        if (this.accountStatements.currency === undefined) {
          this.accountStatements.currency = operation.currency;
        }
      });

      // odfiltruj ewentualne błędne rekordy (ostatni może być podsumowaniem)
      this.accountStatements.operations = this.operations.filter(q => {
        return q.getTransactionId() !== undefined;
      });

      let periodFrom = new Date(
        Math.min.apply(
          Math,
          this.accountStatements.operations.map(function(o) {
            return o.transactionDate.getTime();
          })
        )
      );
      let periodTo = new Date(
        Math.max.apply(
          Math,
          this.accountStatements.operations.map(function(o) {
            return o.transactionDate.getTime();
          })
        )
      );

      // Pobierz z NBP tylko dla obcych walut
      if (this.accountStatements.currency !== "PLN") {
        this.stage = "Pobieram dane z NBP";
        this.currencyPromise = this.parseDataFromNBP(
          periodFrom,
          periodTo,
          this.accountStatements.currency
        );
      }

      await this.currencyPromise;
      
      // Stwórz słownik kursowy
      this.nbpData.createDict();

      this.accountStatements.operations.forEach(element => {
        let searchedDate = moment
          .default(element.transactionDate)
          .format("YYYY-MM-DD");

        let curr = this.getCurrencyForDate(searchedDate);
        element.addCurrencyData(curr.effectiveDate, curr.mid);
      });

      this.show_table = true;
      this.show_loader = false;
    },
    async parseDataFromNBP(
      periodFrom: Date,
      periodTo: Date,
      currency: string
    ): Promise<any> {
      if (
        periodFrom === undefined ||
        periodTo === undefined ||
        currency === undefined
      ) {
        throw new Error("The necessary data for NBP has not been set");
      }
      const nbpApi = new NbpApi(periodFrom, periodTo, currency);
      let nbpData = new NbpDataModel();

      return nbpApi.getCurrencyRateFromNbp().then((resolve: NbpDataModel[]) => {
        resolve.forEach((element: NbpDataModel) => {
          if (nbpData.rates.length === 0) {
            nbpData = element;
          } else {
            nbpData.rates = [...nbpData.rates, ...element.rates];
          }
        });

        this.nbpData.code = nbpData.code;
        this.nbpData.currency = nbpData.currency;
        
        // usuń duplikaty jeśli występują i zrób order asc
        this.nbpData.rates = [
          ...new Set(
            nbpData.rates.sort(
              (a, b) =>
                new Date(a.effectiveDate).getTime() -
                new Date(b.effectiveDate).getTime()
            )
          )
        ];
      });
    },

    getCurrencyForDate(date: string): CurrencyRate {
      this.stage = "Dopasowuje kurs waluty do operacji mintos";

      // sprawdź czy na podany dzień - 1 był wyznaczany kurs - jeśli nie, odejmnij 1 i sprawdź ponownie
      let currencyRateModel = new CurrencyRate();
      let newDate = new Date(date);

      // Dla złotówek przelicznik wynosi 1:1
      if (this.accountStatements.currency === "PLN") {
        currencyRateModel.effectiveDate = newDate;
        currencyRateModel.mid = 1;
      } else {
        do {
          // dzień wcześniejszy od date - na kurs powinien być ustalony na dzień kursu waluty przed operacją
          newDate.setDate(newDate.getDate() - 1);
          let currencyRate = this.nbpData.getMidForDate(
            moment.default(newDate)
          );

          currencyRateModel = currencyRate;
        } while (currencyRateModel === undefined);
      }

      return currencyRateModel;
    },

    getXslxLanguage(date: any): String {
      if ((date[5] as any)["Turnover"]) {
        return 'ENG'
      }
      else if ((date[5] as any)["Obrót"]) {
        return 'PL'
      }
      else {
        return 'UNDEFINED'
      }
    }
  }
});
</script>

<style lang="scss" scoped>
@import "@/styles/operation-table.scss";
@import "@/styles/loading.scss";
</style>
