<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/mintos.png" />
    <TaxCalculator />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import TaxCalculator from "./components/TaxCalculator.vue";
import VueAnalytics from "vue-analytics";

Vue.use(VueAnalytics, {
  id: "UA-133577691-2"
})

@Component({
  components: {
    TaxCalculator
  }
})

export default class App extends Vue {}
</script>

<style lang="scss">
@import "@/styles/main.scss";
</style>
